/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bulma";
@import "font-awesome";

html, body {
  height: 100%;

  .ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      display: block;
  }
  .card {
      .card-image {
          img {
	      object-fit: cover;
	  }
      }
  }
  .title {
      small {
	  font-size: 0.5em;
      }
  }
  .likes-count {
      display: block;
      font-size: 0.75em;
      width: 12px;
      text-align: center;
      line-height: 1em;
  }
  video {
      width: 100%;
  }
  .is-radiusless {
      border-radius: 0 !important;
  }
  .navbar-avatar {
      margin-left: 12px;
  }
  .search-item {
      flex: 1;
      form {
	  width: 100%;
	  .control {
	      display: flex;
	      input {
		  max-width: 400px;
	      }
	      button {
		  margin-left: 4px;
	      }
	  }
      }
  }
}

